/* Main Content*/

body {
    background-color: rgb(241, 191, 241);
    height: 100dvh;
    margin: 1em;
}

/*
div {}
*/
.main_title {
    margin: auto;
    border-radius: 25px;
    background-color: rgb(209, 137, 243);
    border: 3px solid rgb(0, 0, 0);
    width: 40%;
}

.main_list {
    max-width: fit-content;
    margin: auto;
}

table, th, tr {
    border: 3px solid black;
    padding-inline: 3px;
    font-size: 18px;
}

table {
    background-color: rgb(209, 137, 243);
}

th {
    background-color: rgb(145, 248, 222);
    padding: 1px;
    border-radius: 25px;
}


/*Headings*/
h1, h2, h3, h4 {
    margin: auto;
    padding: 3px;
}